/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

/*
#C89F79 (tan)
#F4CD33 (yellow)
#F65923 (orange)
#401F15 (dark brown)
#4E393C (dark purple)
*/


#faculty>ul>li {
  display: inline-block;
  padding: 0.5rem;
}

#faculty-list {
  /*padding-right: 0;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* This tell's the flex items to wrap if there
                        isn't enough space for all of the items. Without this the
                        faculty images will be in a row and only resize well unitl around
                        550px width of screen. */
  justify-content: center;
  align-content: center;
}

#validation {
  font-family: 'Patua One', monospace;
  border-top: 5px solid #F4CD33;
  text-align: center;
}

#validation ul {
  padding-inline-start: 0;
}

.card-text {
  list-style: none;
}

#faculty {
  /*margin-bottom: 14rem;*/
}

body {
    padding: 30px;
    background-color: #C89F79;
    color: #F65923;
    padding-top: 8rem;
}

/* Borrowed from style1 */
li#Elena,#KK,#Nic,#Peter {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* This tell's the flex items to wrap if there
                        isn't enough space for all of the items. Without this the
                        faculty images will be in a row and only resize well unitl around
                        550px width of screen. */
  justify-content: center;
  align-content: center;
}

/* This allows the faculty-list to be centered while preserving the padding that was inherent in the ul
padding of the other UL's */
ul#faculty-list {
  padding-inline-start: 0;
}

#style ul{
  padding-inline-start: 0;
}

h2 {
  margin-top: 0;
}

h1 {
  margin-top: 0;
}

.section {
  background-color: #4E393C;
  /*padding-right: 8rem;*/
}

#pslo {
  font-family: 'Sarabun', sans-serif;
  border: 5px solid #F4CD33;
}

#courses {
  font-family: 'Sarabun', sans-serif;
  border: 5px solid #F4CD33;
}

.faculty-container {
  border: 5px solid #F4CD33;
  font-family: 'Sarabun', sans-serif;
  background-color: #4E393C;
}

#main-title {
  position: fixed;
  color: #F4CD33;
  background-color: #401F15;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 3rem;
  left: 0;
  right: 0;
  top: 0;
}

/* TODO: Put up top fixed below the "UMM Computer Science" */
/*Style picker bar BEGIN*/
/* We started with the CSS from style1 */
#style ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #401F15;
}

#style li {
  display: inline-block; /* sandeep @ https://stackoverflow.com/a/8641277 */
  width: 32%;
}

#style li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; /*this adds some spacing around the items in our "nav bar" */
  /*text-decoration: none;*/
  font-size: 2rem;
}

/* Change the link background color to #000 (black) on hover */
#style li a:hover {
  background-color: #000;
}

#style {
  position: fixed;
  left: 0;
  right: 0;
  top: 3rem;
}
/*Style picker bar END*/

@media screen and (min-width: 925px) {
  .pslo-courses-container {
    max-width: 49%;
    float: left;
    /*padding-top: 6rem;*/
  }
  .faculty-container {
    max-width: 49%;
    float: left;
    /*margin-top: 6rem;*/
  }
}

@media screen and (min-width: 658px) and (max-width: 924px) {
  .pslo-courses-container {
    display: flex;
    flex-direction: row;
    max-width: 53em;
    /*padding-top: 10rem;*/
  }
}

@media screen and (max-width: 657px) {
  body #main-title {
    font-size: 2rem;
  }
  #style {
    top: 1.8rem;
    font-size: 1rem;
  }
  #style li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px; /*this adds some spacing around the items in our "nav bar" */
    text-decoration: none;
    font-size: 1.5rem;
  }

  .pslo-courses-container {
    width: 100%;
    padding-top: 1.7rem;
  }
  .faculty-container {
    width: 100%;
    /*margin-top: 10rem;*/
  }
  body{
    padding-top: 4rem;
  }
}
