/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

/*
#C89F79 (tan)
#F4CD33 (yellow)
#F65923 (orange)
#401F15 (dark brown)
#4E393C (dark purple)
*/

@media screen and (min-width: 925px) {
  .pslo-courses-container {
    max-width: 50%;
    float: left;
  }
  .faculty-container {
    max-width: 50%;
    float: left;
  }
}

@media screen and (max-width: 924px) {
  .pslo-courses-container {
    display: flex;
    flex-direction: row;
    max-width: 53em;
  }
  body {
    /*padding-top: 4rem;*/
  }
}

#faculty>ul>li {
  display: inline-block;
  padding: 2rem;
}

#faculty-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* This tell's the flex items to wrap if there
                        isn't enough space for all of the items. Without this the
                        faculty images will be in a row and only resize well unitl around
                        550px width of screen. */
  justify-content: center;
  align-content: center;
}

#validation {
  position: fixed;
  /*color: #F4CD33;*/
  background-color: #401F15;
  font-family: 'Patua One', monospace;
  text-align: left;
  font-size: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  /*top: 0;*/
}

#faculty {
  margin-bottom: 13rem;
}

/* Sticky footer by Chris Coyier @ https://css-tricks.com/snippets/css/sticky-footer/ on 9/4/09 */
/*#faculty:after {*/
  /*content: "";*/
  /*display: block;*/
  /*margin-bottom: 2rem;*/
/*}*/

/*#validation, #faculty:after {*/
  /*height: 142px;*/
  /*width: 200%;*/
/*}*/
/* Sticky footer END */

body{
    /*padding: 30px;*/
    background-color: #C89F79;
    color: #F65923;
    padding-top: 8rem;
}

h2 {
  margin-top: 0;
}

h1 {
  margin-top: 0;
}

.section {
  background-color: #4E393C;
  padding-right: 8rem;
}

#pslo {
  font-family: 'Marcellus', sans-serif;
}
#courses {
  font-family: 'Marcellus', sans-serif;
}

#main-title {
  position: fixed;
  color: #F4CD33;
  background-color: #401F15;
  font-family: 'Patua One', monospace;
  text-align: left;
  font-size: 3rem;
  left: 0;
  right: 0;
  top: 0;
}

/* TODO: Put up top fixed below the "UMM Computer Science" */
/*Style picker bar BEGIN*/
#style ul {
  list-style-type: none;
  /*margin: auto;*/
  /*padding: 0;*/
  overflow: hidden;
  background-color: #333;
  /*width: 10%;*/
  float: right;
}

#style li {
  display: inline-flex;
  width: 32%;
}

#style li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; /*this adds some spacing around the items in our "nav bar" */
  text-decoration: none;
}

/* Change the link background color to #000 (black) on hover */
#style li a:hover {
  background-color: #000;
}

#style {
  position: fixed;
  /*background-color: blue;*/
  left: 0;
  right: 0;
  top: 0%;
  height: 55px;
  padding-top: 10px;
}
/*Style picker bar END*/
