/* COLORMIND
F95980 (pink)
F9D79C (light yellow)
E2EACB (greenish white-keylime pie)
03504A (dark green)
386C7D (ocean blue)
*/

/*START BodyFix
  VERY BIG THANKS to MildWolfie @ https://stackoverflow.com/a/14776179 on Feb 8 '13 at 15:42

  We were having this issue where the body and html itself on smaller range mobile widths would squish to the top left
  of the page, with about the rightmost 40% of the page having no content in it. These changes got rid of the issue.
*/
body {
    padding: 30px;
  /*CSS Rule*/
  /*adds a background gradiant color, which is different from the non-gradient in style 1. This was our own modification.*/
    background-image: linear-gradient(#37b1a8, #03504a);
    font-family: 'Quicksand', sans-serif;
}
/*CSS Rule*/
/*Fixes certain issues which caused the text to be focused on the left side of mobile screens, which wasnt a problem in*/
/*style 1. The code comes from someone else, but we understand what its doing.*/
html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}
/*END BodyFix*/

a {
  color: #F9D79C;
}

#validation li { /* Franky @ https://stackoverflow.com/questions/7775594/css-list-style-image-size/40021713#40021713 on Oct 13 '16 at 12:58*/
  margin: 0;
  padding: 36px 0 36px 40px;
  list-style: none;
  /*CSS Rule*/
  /*These lines of code add a checkmark gif as the list-style, which is distinct from Style 1.*/
  /*Also an example of grouping, since the background image lines are grouped together*/
  background-image: url("https://thumbs.gfycat.com/VariablePoliticalBurro-small.gif");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px;
}

p.card-text {
  font-family: 'Source Sans Pro', sans-serif;

  text-shadow: /* Christ Coyier @ https://css-tricks.com/adding-stroke-to-web-text/ */
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
    text-align: center;
    color: #1A5C73;
    text-shadow: 1px 1px 1px #000;
    font-size: 2rem;
    font-family: 'Source Code Pro', monospace;
}

#main-title {
    text-align: center;
    color: #f95980;
    text-shadow: 1px 1px 1px #000;
    font-size: 6rem;
}

/*PSLO Elements*/
.pslo-courses-container {
  color: #fff;
  font-size: 1.5rem;
}

/*Faculty Elements*/
/*An example of a class .faculty-container*/
.faculty-container {
  color: #fff;
  font-size: 1.5rem;
}

/*Mostly Borrowed from style1 START*/
/*An example of the faculty-list id*/
#faculty-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

ul#faculty-list {
  /*CSS Rule*/
  /*This removes a default left padding zone that puts lists off center from their parent. We were hiding the
  bullet points from the list anyways, so the padding on the UL itself wasn't necessary.*/
  padding-left: 0;
}

#faculty>ul>li {
  display: inline-block;
  padding: 20px;
  margin: 8px;
  text-align: center;
  border: 4px solid #F9D79C;
  border-radius: 15px;
}
/*Borrowed from style1 END*/

#validation {
  border: 4px solid #F9D79C;
  padding: 1rem;
  /*CSS Rule*/
  /*Adds a background to the validation container which is distinct from Style 1.*/
  background-image: url("https://www.dailydot.com/wp-content/uploads/97a/d8/246354a6d4005e451bffc5eb98c9b00a.jpg");
}

/*Style Selector Elements (mostly borrowed from style1)*/
#style{
  list-style-type: none;
  font-family: 'Quicksand', 'sans-serif';
  font-size: 3rem;
  bottom: 0;
  left: 0;
  right: 0;
}

#style li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 2rem;
}

#style ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #F95980;
  padding-left: 0;
}

#style li {
  display: inline-block;
  width: 32%;
}

/*////////////////*/
/*Media Interfaces*/
/*////////////////*/

/*Desktop or Large Screens*/
@media screen and (min-width: 925px) {

}

/*Smaller Mobile*/
@media screen and (max-width: 657px) {
  /*An example of nesting, since style is nested inside of the media quarry*/
  #style{
    padding-left: 0;
    font-size: 0.3rem;
    position: inherit;
  }
}
